<h1>Vocabulary Richness Detector</h1>

<p>This simple application uses a Python implementation of Yule's I score to determine the diversity of vocabulary present in text. Enter some text into the form below and click the Go! button to see the Yule I score. The higher the score, the richer the vocabulary.</p>

<p>Some sample Yule's I scores:</p>

<ul>
  <li>MLK's "I Have A Dream Speech": 7.11853157731</li>
  
</ul>

<form action="." method="post">{% csrf_token %}
<input type="search" name="text" id="text" value="enter text here" />
<input type="submit" value="Go!" />
</form>

{% if score %}
  <h3>This text's Yule's I score: {{ score }}</h3>
{% endif %}


